<template name='reading'>
  {{> selectFacility}}
  <h1>New Data Entry</h1>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <td style="width: 85px">Name</td>
        <td>Description</td>
        <td style="width: 250px">Reading value</td>
        <td>Evaluation</td>
      </tr>
    </thead>
    <tbody>
      {{#each readings}}
        <tr>
          <td>
            {{#if insert}}*{{/if}}
            {{name}}
          </td>
          <td>{{desc}}</td>
          <td class='input-value'>
          {{#if insert}}
            {{#autoForm schema=inputSchema id=_id type="method" meteormethod="readingInput" validation='keyup'}}
              {{> afQuickField name='input' label=false}}
              
            {{/autoForm}}
          {{else}}
            {{valueString}}
          {{/if}}
          </td>
          <td>{{evaluation}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>