<template name='sysAdmin'>
  {{> reactiveTable collection=sitesInGroup settings=siteTableSettings}}
  {{#afModal class="btn btn-primary" collection="siteInfoColl" operation="insert" omitFields="facilities.$.id"}}
    Add site
  {{/afModal}}
  {{#afModal class="btn btn-primary" collection="siteInfoColl" operation="update" omitFields="facilities.$.id" doc=selectedSiteId}}
    Update site
  {{/afModal}}
  {{#afModal class="btn btn-primary" collection="siteInfoColl" operation="remove" omitFields="facilities.$.id" doc=selectedSiteId}}
    Remove site
  {{/afModal}}
  <!-- {{>quickForm id='insertDemo' type='insert' collection=siteInfoColl }}
 -->


  {{#contentFor 'jumbotronTitle'}}
    <h2>System Admin</h2>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Add new site</a></p>
  {{/contentFor}}
</template>